.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.vscode
src/
tsconfig.json
webpack.config.js
esbuild.js
demo.md
test.md
tree.json
